* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s ease;

}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.5s ease;

}

body {
    width: 100%;
}

.navbar-menu-toggle {
    display: none;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color:#1B2624;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.sidenav {
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    /*display: none;*/
    transition: 2s;
    z-index: 1000;
}

.side-navbar-links p {
    margin-bottom: 20px;
    
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links p a:hover,
.side-navbar-links p a.active {
    color: #08817B;
}

.side-navbar-links p a.active::after,
.side-navbar-links p a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #08817B;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#xmark {
    color: white;
}

#xmark:hover {
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;


}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #F1F2F6;
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: #08817B;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #08817B;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#hero {
    background-image: url("banner/b5.jpg");
    background-color: #fff;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #08817B;
}

#hero h2 {
    color: rgb(104, 20, 20);
}

#hero p {
    font-weight: 400;
    color:#041e42;
}



#hero button {
    background-image: url("button.png");
    background-color: transparent;
    color: #08817B;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .febox {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;

}

#feature .febox:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .febox img {
    width: 100%;
    margin-bottom: 10px;

}

#feature .febox h6 {
    display: inline-block;
    line-height: 1;
    padding: 9px 8px 6px 8px;
    border-radius: 5px;
    color: #08817B;
    background-color: #ecbdc7;
}

.febox:nth-child(2) h6 {
    background-color: #cdebbc;
}

.febox:nth-child(3) h6 {
    background-color: #b6e9ff;
}

.febox:nth-child(4) h6 {
    background-color: #b1bdf8;
}

.febox:nth-child(5) h6 {
    background-color: #e8b4e8;
}

.febox:nth-child(6) h6 {
    background-color: #f5d3b1;
}

#product1 {
    text-align: center;
}

.pro {
    width: 23%;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px;
    transition: 0.3s ease;
    position: relative;
}

.pro:hover {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.pro img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.pro .des {

    text-align: left;
    padding: 15px 0;

}

.pro .des span {
    color: #606063;
    font-size: 12px;
}

.pro .des h5 {
    margin-top: 7px;
    color: #1a1a1a;
    font-size: 15px;

}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.pro .des h4 {
    margin-top: 7px;
    font-style: 15px;
    font-weight: 700;
    color: #08817B;

}

.cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #08817B;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .boxbanner {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: center;
    background-image: url("banner/b4.jpg");
    min-width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-2 {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: center;
    background-image: url("banner/b3.jpg");
    min-width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner h4 {
    color: #041e42;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: brown;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;

}

#bbtn {
    height: 50px;
    width: 150px;

}

#sm-banner .boxbanner:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner-3 .boxbanner {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: center;
    background-image: url("banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner-3 h3 {
    color: rgba(134, 0, 0, 0.925);
    font-weight: 800;
    font-size: 15px;

}

#banner-3 .banner-2 {
    background-image: url("banner/b9.jpg");
}

#banner-3 .banner-3 {
    background-image: url("banner/b8.jpg");
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;

}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    columns: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 80px;
}

footer .follow i {
    color: #606063;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    font-size: 200px;
    width: 100%;
    text-align: center;
}

#page-header {
    background-image: url(banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;

}

#prodet.single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.smallimg {
    width: 100px;
    height: 100px;
}

#prodet {
    display: flex;
    margin-top: 20px;
}


#prodet.single-pro-det {
    width: 50%;
    padding-top: 30px;
}

#prodet.single-pro-det h4 {
    padding: 40px 0 20px 0;
}

#prodet .single-pro-det h2 {
    font-size: 26px;
}

#prodet .single-pro-det select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodet .single-pro-det input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodet .single-pro-det input:focus {
    outline: none;
}

#prodet .single-pro-det button {
    background-color: #088178;
    color: white;
}

#prodet .single-pro-det span {
    margin-top: 50px;
    line-height: 25px;
    color: grey;
}

#page-header.about-header {
    background-image: url(about/banner.png);
}

#aboutheader {
    display: flex;
    align-items: center;
}

#aboutheader img {
    width: 50%;
    height: auto;
}

#aboutheader div {
    padding-left: 40px;
}
#cart {
    overflow-x: auto;
}


#cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width:150px;
    text-align:center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 5px;
}
#cart table thead{
    border: 1px solid #e2e9e1 ;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0 ;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody  td{
    font-size: 13px;
}
#cartadd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #08817B;
    color: white;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 30px;
}
.productSearch{
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.productSearch input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.productSearch input:focus{
    outline: none;
}
.secondslide{
    display: none;
}
/*cart*/


@media (max-width:820px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .navbar-menu-toggle {
        display: block;
    }

    #navbar li {
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: right 30% top 30%;
        padding: 0px 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .febox {
        margin: 15px 15px;
    }

    .pro-container {
        justify-content: center;
    }

    .pro {
        width: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .boxbanner {
        min-width: 100%;
        height: 30vh;
    }

    #sm-banner .banner-2 {
        margin-top: 20px;


    }

    #banner-3 {
        padding: 0 40px;
    }

    #banner-3 .boxbanner {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
   
    
}

@media (max-width:399px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero {
        background: position 55%;
        ;
        padding: 0px 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font: size 32px;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .febox {
        width: 155px;
        margin: 0 0 15px 0;
    }

    .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .boxbanner {
        height: 40vh;
    }

    #sm-banner .banner-2 {
        margin-top: 20px;
    }

    #banner-3 {
        padding: 0 20px;
    }

    #banner-3 .boxbanner {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    #prodet {
        display: flex;
        flex-direction: column;
    }

    #prodet .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodet .single-pro-det {
        width: 100%;
    }

    /*About*/
    #aboutheader {
        flex-direction: column;
    }

    #aboutheader img {
        width: 100%;
        margin-bottom: 20px;
    }

    #aboutheader div {
        padding-left: 0px;
    }
    /*cart*/
    #cartadd {
        display: flex;
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal table td {
        width: 100%;
        padding: 20px;
    }

}